.switchLang-overlay{
     height: 100%;
     display: none;
     background-color: rgba(0, 0, 0, 0.5);
     position: fixed;
     z-index: 998;
     justify-content: center;
     align-items: center;
}

.switchLang-overlay.open{
     display: flex;
}
.switchLang-overlay .container{
     width: 100%;
     max-width: 450px;
     background-color: #fff;
     border-radius: 4px;
     height: 100%;
     max-height: 350px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}
.switchLang-overlay .container .header{
     justify-content: space-between;
     padding: 24px 32px 16px;
     h1{
          font-size: 20px;
          font-weight: 500;
          color: var(--mqvym51n);
     }
     button.close{
          padding-left: 10px;
          border: none;
          background-color: #fff;
          color: var(--mqvym51k);
          cursor: pointer;
          font-size: 18px;
     }
     button.close:hover{
          color: var(--mqvym51m);
     }
}

.switchLang-overlay .container .screen ul.tab {
     border-bottom: 1px solid var(--mqvym51g);
     margin: 0px 20px;

     button.st{
          padding: 8px 12px;
          border: none;
          border-bottom: 1px solid transparent;
          cursor: pointer;
          font-weight: 600;
          background-color: #fff;
          color: var(--mqvym51k);
     }
     button.st:hover{
          color: var(--mqvym517);
     }
     button.active{
          border-color: var(--mqvym517);
          color: var(--mqvym517);
     }
}
.switchLang-overlay .container .screen{
     display: flex;
     flex: 1;
     flex-direction: column;
     background-color: #fff;
}
.switchLang-overlay .container .screen .overflow{
     overflow-y: scroll;
     height: 250px;
     padding-top: 16px;
}
.switchLang-overlay .container .screen ul.list{
     display: none;
     flex-direction: column;
     flex: 1;
     button{
          width: 100%;
          background-color: #fff;
          border: noen;
          display: flex;
          align-items: center;
          border: none;
          background-color: #fff;
          cursor: pointer;
          padding: 8px 32px;
          gap: 12px;
          i{
               font-size: 10px;
               color: var(--mqvym51l);

          }
          .text{
               display: flex;
               flex-direction: column;
               align-items: start;
               span.currency-name{
                    font-weight: 700;
                    color: var(--mqvym51n);
               }
               span.currency-symbol{
                    color: var(--mqvym51l);
               }
          }
     }
     button:hover{
          background-color: var(--mqvym51e);
     }
     button.option{
          color: var(--mqvym51m);
          font-size: 16px;
     }
}

.switchLang-overlay .container .screen ul.list-lang.open{
     display: flex;
}
.switchLang-overlay .container .screen ul.list-currency.open{
     display: flex;
}
.switchLang-overlay .container .screen ul.list .option i{
     color: transparent;
}
.switchLang-overlay .container .screen ul.list .option.selected i{
     color: var(--mqvym51l);
}