.banner-us {
     display: flex;
     justify-content: center;
}

.cont {
     display: none;
}

.cont.open {
     display: flex;

}

footer {
     background-color: #fff !important;
}

section.banner-us .container {
     
     background: linear-gradient(194deg, rgb(0, 0, 0) 0%, rgb(17, 148, 17) 100%);
     background-size: 400% 400%;
     animation: gradientAnim 20s ease-in-out infinite;
    

}

@keyframes gradientAnim {
     0% {
       background-position: 0% 50%;
     }
     50% {
       background-position: 100% 50%;
     }
     100% {
       background-position: 0% 50%;
     }
   }
.banner-us .container-1 {
     .header-bn {
          padding: 64px 0px;

          h1 {
               font-size: clamp(22px, 7vw, 48px);
               color: #fff;
               font-style: italic;
               font-weight: 700;
          }
     }

     .last-loaded-1 {
          h1 {
               color: #fff;
               padding: 16px 0px;
          }
     }
}

.banner-us .container {
     max-width: 1440px;
     width: 100%;
     display: flex;
     flex-direction: column;
     padding: 0px 32px 32px;

     .cont {
          flex-direction: column;
     }
}

.banner-us .container .container-2,
.container-3 {
     .jobs ul {
          display: flex;
          flex-wrap: wrap;
          gap: 12px;
     }

     .header h1 {
          padding: 12px 0px;
     }

     .jobs .card {
          background-color: #fff;
          padding: 16px;
          border: 1px solid var(--mqvym51g);
          display: flex;
          flex-direction: column;
          align-items: start;
          max-width: 300px;
          width: 100%;
          gap: 4px;

          div {
               display: flex;

               p {
                    margin-left: 6px;
                    white-space: nowrap;
                    /* mətni bir sətirdə saxla */
                    overflow: hidden;
                    /* artıq hissəni gizlət */
                    text-overflow: ellipsis;
                    /* gizlənən hissənin yerinə ... qoy */
                    max-width: 170px;
                    width: 100%;
                    display: inline-block;
               }
          }

          .link-btn {
               display: flex;
               flex-direction: column;
               align-items: end;
               width: 100%;

               button {
                    width: 100%;
                    border-radius: 4px;
                    padding: 8px 16px;
                    margin-top: 12px;
               }

               a {
                    color: var(--mqvym51o);
                    width: max-content;
                    margin-top: 8px;
               }

               a:hover {
                    color: var(--mqvym51n);

               }
          }

     }
}
.cards .card-list#last-cv{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(1, 360px);
     gap: 12px;
     .card-cv{
          height: 100%;
     }
     .profile{
          width: 100%;
          background-color: var(--mqvym51c);
          height: 60%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 0px 0px 60px 60px;
          img{
               border-radius: 50%;
               width: 100%;
               max-width: 150px;
               object-fit: cover;
               aspect-ratio: 1/1;
               transition: 0.3s ease scale;
          }
     }
     .content{
          background-color: #fff;
          height: 40%;
          border-radius: 60px 60px 0px 0px ;
          padding: 12px 22px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 2px;
          flex: 0 0 auto;
          .name{
               text-align: center;
               color: var(--mqvym51o);
          }
          .description{
               position: relative;
               display: flex;
               justify-content: center;
          }
          .description p{
               color: var(--mqvym51m);
               line-height: calc(100% + 2px);
               margin-bottom: 2px;
               overflow: hidden;
               height: 34px;
               width: 340px;
               word-wrap: break-word;
               text-align: center;
          }
          .description::after{
               position: absolute;
               content: '';
               background: #ffffff;
               background: linear-gradient(0deg,rgba(255, 255, 255, 1) 18%, rgba(248, 250, 249, 0) 100%);
               width: 100%;
               height: 40px;
               bottom: 0px;

          }
          .salary-date{
               display: flex;
               justify-content: space-between;
               color: var(--mqvym51m);
               flex-wrap: wrap;
               font-size: 16px;
               span{
                    font-weight: 700;
               }
          }
     }
     a{
          background-color: #fff;
          border-radius: 8px;
          position: relative;
          z-index: 1;
          overflow: hidden;
          text-decoration: none;
     }
     a:hover .profile img{
          scale: 1.1;
     }
     a:hover{
          transform: translateY(-3px);
     }
     
     a::before{
          position: absolute;
          content: "";
          background-color: var(--mqvym51c);
          width: 50%;
          height: 100%;
          z-index: -1;

     }
}
.cards .card-list#last-adv {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 12px;

     a {
          text-decoration: none;
     }

     a:hover p {
          text-decoration: underline;
     }

     .card {
          background: #fff;
          border-radius: 1rem;
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
          padding: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 10px;
          height: 100%;
          transition: transform 0.2s ease, box-shadow 0.2s ease;
     }

     .card:hover {
          transform: translateY(-3px);
          box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
     }

     .card .header h1 {
          font-size: 1.25rem;
          color: #222;
          margin: 0;
     }

     .card .description {
          height: 46px;
          overflow: hidden;
          position: relative;
     }

     .card .description::after {
          content: "";
          position: absolute;
          background: #ffffff;
          background: linear-gradient(0deg, rgba(255, 255, 255, 1) 10%, rgba(248, 250, 249, 0) 100%);
          height: 20px;
          width: 100%;
          bottom: 0px;
     }

     .card .poster {
          display: flex;
          justify-content: space-between;
          align-items: center;
          img{
               width: 70px;
               height: 70px;
               border-radius: 50%;
               object-fit: cover;
          }
          h3 {
               color: var(--mqvym51m);
          }
     }

     .card .description p {
          font-size: 0.95rem;
          line-height: 1.5;
          color: #555;
          margin: 0;
          width: 200px;
          word-wrap: break-word;
          line-height: calc(100% + 2px);
     }

     .card .salary p {
          font-size: 14px;
          font-weight: 600;
          color: var(--mqvym518);

          /* yaşıl ton */
          margin: 0;
     }

     .card .salary {
          display: flex;
          justify-content: space-between;
          align-items: end;
          flex-wrap: wrap;
          span {
               color: var(--mqvym51n);
               font-size: 12px;
               margin-left: 4px;
          }
     }
}

@media (max-width: 1024px) {
     .cards .card-list#last-adv {
          grid-template-columns: repeat(2, 1fr);
     }
     
     
}

@media (max-width: 768px) {
     .layout header .top-container .logo-box-1 {
          width: max-content;

          img {
               width: 100%;
               max-width: 140px;
          }
     }

     .cards .card-list#last-adv {
          grid-template-columns: repeat(1, 1fr);

     }
     .cards .card-list#last-cv{
          grid-template-columns: repeat(1,1fr);
          grid-template-rows: repeat(3, 320px);
          gap: 20px;
     }
     .card {
          padding: 1rem;
          gap: 0.75rem;
     }

     .card .header h1 {
          font-size: 1.1rem;
     }

     .card .description p {
          font-size: 0.9rem;
     }

     .card .qiymet p {
          font-size: 12px;
     }

     section.banner-us {
          .container .header-bn {
               padding: 32px 0px;
          }
     }
}